# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg-info/
*.egg
*.log

# Environment files
.env
venv/
ENV/
env/
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# IDEs / Editors
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
